aiofiles==0.6.0
datamodel-code-generator==0.8.3
decorator==4.4.2
dnspython==2.1.0
email-validator==1.1.2
fancyimpute==0.5.5
fastapi==0.63.0
fastapi-code-generator==0.2.4
findspark==1.4.2
Flask==1.1.2
Jinja2==2.11.3
joblib==0.14.1
jsonschema==3.2.0
Keras==2.3.1
numpy==1.20.1
pandas==1.0.1
pickleshare==0.7.5
urllib3==1.26.4
uvicorn==0.13.4
virtualenv==16.7.9

